.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Sesuaikan dengan kebutuhan */
  background-color: black; /* Sesuaikan dengan warna latar belakang navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Efek shadow */
  padding: 10px 0;
}
